@import "~bootstrap/dist/css/bootstrap.min.css";

#btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.col {
  background-color: lightgray;
  padding: 10px;
  margin-bottom: 10px;
}
